[Desktop Entry]
Type=Application
Name=SYG Camera Helper
Comment=SYG Camera Helper
Exec=rtsp-virtual-cam-agent-launcher
Icon=rtsp-virtual-cam-agent
Categories=AudioVideo;Utility;
Terminal=false
